@font-face {
    font-family: "SpaceMono Nerd Font";
    font-display: swap;
    src:
      local("SpaceMono Nerd Font"),
      url(../fonts/JetBrainsMonoNerdFontComplete-SemiBold.woff2) format("woff2"),
      url(../fonts/JetBrainsMonoNerdFontComplete-SemiBold.woff) format("woff");
  }

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-image: url("../bg/bg2.png");
    background-color: var(--background-color);
    overflow-x: clip;
  }
  
body {
    display: flex;
    color: var(--text-color);
    font-family:
      SpaceMono Nerd Font,
      monospace;
  }

#greeting {
    color: var(--accent-color-2);
    font-size: 2.5em;
    font-weight: 900;
    grid-column: 1/-1;
    text-align: center;
    display: grid;
  }
  
#date {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--accent-color);
    display: grid;
    grid-column: 1/-1;
    text-align: center;
    margin: 1em 0;
  }

  .search {
    grid-area: card_3;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.searchbar {
    position: relative;
}

input {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #4a4e69;
    color: #f2e9e4;
    outline: none;
    font-size: 2rem;
}

.iconSearch {
    position: absolute;
    top: 25%;
    right: 3%;
    font-size: 3rem;
    color: #f2e9e4;
}


.header {
    color: var(--accent-color);
    font-size: 1.6em;
    font-weight: 600;
  }

.urls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: normal;
}

.url:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
.url:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
.url:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
.url:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

.url li {
    list-style-type: none;
    font-size: 1.3rem;
}

a {
  color: var(--text-color);
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  font-style: italic;
}