@font-face {
    font-family: "SpaceMono Nerd Font";
    font-display: swap;
    src:
      local("SpaceMono Nerd Font"),
      url(../fonts/SpaceMonoNF.woff2) format("woff2"),
      url(../fonts/SpaceMonoNF.woff) format("woff");
  }
  
* {
    background-color: cadetblue;
}