@import "../src/libs/reset.scss";

body {
    background: #000000;
    color: #ffffff;
}

p {
    margin: 1rem;
}

.table {
    width: 100%;

    td {
        border : 1px solid #ccc; 
    }

    thead {
        background: #000000;
        color: #fff;
    }
}

.btn {
    background-color: #78B4;

    &:hover{
        background-color: #78B;
    }
}